<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <title>go template</title>
</head>
<body>
    <p>插入的名字{{.Name}}</p>
    <p>插入的性别{{.Gender}}</p>
    <p>插入的年龄{{.Age}}</p>
</body>
</html>